---
import Layout from "../layouts/Layout.astro";
import NavItem from "../components/NavItem.astro";
import Education from "../components/Education.astro";
import Work from "../components/Work.astro";
import Form from "../components/Form";
import ButtonTheme from "../components/ButtonTheme";

import hero from "../assets/hero.png";

import sotpro from "../assets/sotpro.jpg";
import ctrli from "../assets/ctrl-i.jpg";
import juliabescos from "../assets/juliabescos.png";
import stepslife from "../assets/stepslife.png";
---

<Layout title="salteadorneo.dev">
  <header
    class="sticky top-0 z-50 bg-white dark:bg-[#121819] dark:text-gray-200"
  >
    <nav class="flex items-center justify-between flex-wrap py-2 px-10">
      <div class="flex items-center flex-shrink-0 mr-10">
        <a
          href="/"
          class="text-xl tracking-tight font-extrabold text-transparent bg-clip-text bg-gradient-to-br from-gray-600 to-[#121819] dark:from-gray-200 dark:to-gray-300"
        >
          salteadorneo
        </a>
      </div>
      <div class="w-full flex-grow hidden sm:flex sm:items-center sm:w-auto">
        <div class="text-sm flex-grow">
          <NavItem href="#educacion" title="Educación" />
          <NavItem href="#experiencia" title="Experiencia" />
          <!-- <NavItem href="#contacto" title="Contacto" /> -->
        </div>
        <div>
          <ButtonTheme client:visible />

          <!-- <a
            href="cv-cristianadan.pdf"
            class="inline-block text-sm px-4 py-2 leading-none border rounded border-black hover:bg-[#121819] hover:text-white mt-4 lg:mt-0"
          >
            CV
          </a> -->
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="mb-10">
      <div class="relative overflow-hidden bg-[#121819]">
        <div class="mx-auto max-w-6xl">
          <div
            class="relative z-10 pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32"
          >
            <div>
              <div class="relative px-4 pt-6 sm:px-6 lg:px-8"></div>
            </div>

            <main
              class="mx-auto mt-0 max-w-7xl px-4 sm:mt-6 sm:px-6 md:mt-10 lg:mt-20 lg:px-8 xl:mt-24"
            >
              <div class="sm:text-center lg:text-left">
                <h1
                  class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl"
                >
                  <span>Cristian Adán</span>
                </h1>
                <p
                  class="mt-3 text-base text-white sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
                >
                  Desarrollador Full Stack con más de 15 años de experiencia
                </p>
                <div
                  class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start"
                >
                  <div class="rounded-md shadow">
                    <a
                      href="#experiencia"
                      class="flex w-full items-center justify-center rounded-md border border-transparent bg-gray-800 px-8 py-3 text-base font-medium text-white hover:bg-gray-700 md:py-4 md:px-10 md:text-lg"
                    >
                      Experiencia
                    </a>
                  </div>
                  <!-- <div class="mt-3 sm:mt-0 sm:ml-3">
                    <a
                      href="#"
                      class="flex w-full items-center justify-center rounded-md border border-transparent bg-gray-100 px-8 py-3 text-base font-medium text-gray-700 hover:bg-gray-200 md:py-4 md:px-10 md:text-lg"
                    >
                      Contacto
                    </a>
                  </div> -->
                </div>
              </div>
            </main>
          </div>
        </div>
        <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
          <img
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:h-full lg:w-full"
            src={hero}
            alt=""
            loading="lazy"
          />
        </div>
      </div>
    </section>
    <section id="educacion" class="mb-20 mx-auto max-w-6xl">
      <h2
        class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl md:text-4xl mb-10"
      >
        Educación
      </h2>

      <ol class="relative border-l border-gray-200 dark:border-gray-700">
        <Education
          years="Años 2010-2011"
          title="Experto en aplicaciones de dispositivos móviles"
          description="UNED"
        />
        <Education
          years="Años 2005-2007"
          title="FP - Explotación de Sistemas Informáticos"
          description="IES Luis Braille"
        />
        <Education
          years="Años 2002-2004"
          title="Programación orientada a objectos Visual Basic / C++"
          description="Cyberdrive"
        />
      </ol>
    </section>
    <section id="experiencia" class="mb-20 mx-auto max-w-6xl">
      <h2
        class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl md:text-4xl mb-10"
      >
        Experiencia
      </h2>

      <div class="grid grid-cols-3 gap-4 justify-center">
        <Work
          image={sotpro}
          title="SOTPRO"
          description="Una solución completa desarrollada en Wordpress con acceso total al cliente para actualizar los contenidos."
          tags={["PHP", "Wordpress", "CSS"]}
          url="https://sotpro.es/"
        />
        <Work
          image={ctrli}
          title="CTRL+i"
          description="El escaparate perfecto para una tienda en Guadalajara."
          tags={["HTML", "JS", "CSS"]}
          url="https://ctrl-i.es/"
        />
        <Work
          image={juliabescos}
          title="Julia Bescos"
          description="Portfolio de esta diseñadora gráfica que cuida todos los detalles."
          tags={["JS", "CSS", "API Directus"]}
          url="https://juliabescos.com/"
        />
        <Work
          image={stepslife}
          title="StepsLife"
          description="Desarrollo de aplicación móvil para Android e iOS utilizando Ionic, Cordova y AngularJS. Permite guardar mensajes, adjuntar todo tipo de archivos (que luego procesa, adapta y convierte para visualizarlos en la misma) e incluso el pago de la subscripción con compras In-App. El API está desarrollado con NodeJS sobre Google Cloud. Está conectado con un tercero para la sincronización de emails."
          tags={["AngularJS", "App", "NodeJS", "Google Cloud"]}
          url="https://twitter.com/stepslifeapp"
        />
      </div>
    </section>
    <section id="contacto" class="mb-20 py-10 bg-[#121819]">
      <div class="mx-auto max-w-xl">
        <Form client:visible />
      </div>
    </section>
    <footer class="mb-5 text-sm text-center">
      <p>Hecho con las manitas, Astro y Tailwind</p>
    </footer>
  </main>
</Layout>

<style>

</style>
