---
import Tag from "./Tag.astro";

const { post } = Astro.props;
---

<article class="glass rounded-2xl flex gap-6 group p-4">
    <img
        src={post.data.image}
        alt={post.data.title}
        class="h-20 aspect-square transition-all duration-300 rounded"
        style={`view-transition-name: image-${post.slug}`}
    />
    <span class="space-y-2">
        <h2
            class="text-2xl leading-none font-bold hover:text-primary"
            style={`view-transition-name: title-${post.slug}`}
        >
            <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </h2>
        <p
            class="flex flex-wrap items-center gap-x-4"
            style={`view-transition-name: tags-${post.slug}`}
        >
            {post.data.tags.map((tag: string) => <Tag tag={tag} />)}
        </p>
        <p class="text-lg" style={`view-transition-name: desc-${post.slug}`}>
            {post.data.description}
        </p>
    </span>
</article>
