---
import Github from "./icons/Github.astro";

const { image, title, description, tags, url, github } = Astro.props;
---

<article
    class="inline-block w-full p-4 pt-6 rounded-lg backdrop-blur-sm bg-black/35 mb-4 hover:bg-black/10 transition-all duration-300"
>
    <h3 class="flex items-center gap-2 text-2xl text-nowrap font-semibold">
        <a
            href={url}
            target="_blank"
            class="hover:text-primary transition-colors duration-300"
        >
            {title}
        </a>
        {
            github && (
                <a
                    href={github}
                    target="_blank"
                    class="text-white/70 leading-none hover:text-primary transition-colors duration-300"
                >
                    <Github size="20" />
                </a>
            )
        }
    </h3>
    <p class="text-white/60 leading-tight mt-1">
        {description}
    </p>
    <p class="flex flex-wrap gap-1 mt-3">
        {
            tags
                ?.split(",")
                .map((tag: string) => (
                    <span class="text-sm bg-white/5 rounded px-2 py-0.5 text-white/60 text-nowrap">
                        {tag}
                    </span>
                ))
        }
    </p>
</article>
