---
import Github from "./icons/Github.astro";

const { image, title, description, tags, url, github } = Astro.props;
---

<article class="glass rounded-2xl p-4 w-full h-full">
    <h3 class="flex items-center gap-2 text-2xl text-nowrap font-semibold">
        {
            url ? (
                <a
                    href={url}
                    target="_blank"
                    class="hover:text-primary transition-colors duration-300"
                >
                    {title}
                </a>
            ) : (
                title
            )
        }
        {
            github && (
                <a
                    href={github}
                    target="_blank"
                    class="text-white/70 leading-none hover:text-primary transition-colors duration-300"
                >
                    <Github size="20" />
                </a>
            )
        }
    </h3>
    <p class="text-white/60 leading-tight mt-1">
        {description}
    </p>
    <p class="flex flex-wrap gap-2 mt-3">
        {
            tags
                ?.split(",")
                .map((tag: string) => (
                    <span class="text-sm rounded-full px-3 py-0.5 text-white/70 text-nowrap bg-white/5">
                        {tag}
                    </span>
                ))
        }
    </p>
</article>
