---
const {
  title = "Cristian Adán - salteadorneo.dev - Full stack developer",
  description = "Full stack developer con más de 15 años de experiencia profesional - hola@salteadorneo.dev",
  ogimage = "cristian.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="view-transition" content="same-origin" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.site}${ogimage}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${Astro.site}${ogimage}`} />

    <script data-no-cookie async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-text: #e1e1e1;
    --color-primary: #30a834;
    --background: #121619;
  }

  @font-face {
    font-family: "Onest";
    src:
      url("/fonts/Onest-Regular.woff2") format("woff2"),
      url("/fonts/Onest-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html,
  body {
    font-family: "Onest";
    scroll-behavior: smooth;
    min-height: 100dvh;
  }

  body {
    color: var(--color-text);
    background: #121619; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #2a333a,
      #121619
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #2a333a,
      #121619
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
