---
import { ClientRouter } from "astro:transitions";

const {
  title = "Cristian Adán - salteadorneo.dev - Full stack developer",
  description = "Full stack developer con más de 15 años de experiencia profesional - cristian@salteadorneo.dev",
  ogimage = "cristian.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="view-transition" content="same-origin" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.site}${ogimage}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${Astro.site}${ogimage}`} />

    <script data-no-cookie async src="https://cdn.splitbee.io/sb.js"></script>

    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
