---
import Background from "../components/Background.astro";

const {
  title = "Cristian Adán - salteadorneo.dev",
  description = "Desarrollador full stack",
  ogimage = "cristian.png",
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="view-transition" content="same-origin" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${Astro.site}${ogimage}`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${Astro.site}${ogimage}`} />

    <script data-no-cookie async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --color-text: #e1e1e1;
    --color-primary: #30a834;
    --background: #121619;
  }

  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    color: var(--color-text);
    background: var(--background);
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-text);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeup {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
